<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <th:block th:replace="fragments/header :: mainHead"> </th:block>
</head>
<body>
  <div id="cesiumContainer"></div>
  <div id="toolbar"></div>
  <input type="button" class="zoom-in" value="Zoom-in"></input>
  <input type="button" class="zoom-out" value="Zoom-out"></input>
</body>
</html>